<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yieryi.gladtohear" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <!--<permission-->
        <!--android:name="com.mb.mmdepartment.permission.JPUSH_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <!--<uses-permission android:name="com.mb.mmdepartment.permission.JPUSH_MESSAGE" />-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 网络等常见权限 -->
    <uses-permission android:name="WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name=".base.TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3975f566000b797251569f8a9f419183" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".activities.MarketSelActivity"
            android:label="@string/title_activity_market_sel" >
        </activity>
        <activity
            android:name=".activities.CatlogsSelActivity"
            android:label="@string/title_activity_catlogs_sel" >
        </activity>
        <activity
            android:name=".activities.DetailCatlogsActivity"
            android:label="@string/title_activity_detail_catlogs" >
        </activity>
        <activity
            android:name=".activities.ProductsListActivity"
            android:label="@string/title_activity_products_list" >
        </activity>
        <activity
            android:name=".activities.WelActivity"
            android:label="@string/title_activity_wel" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
