<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yieryi.gladtohear" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <!-- umeng-analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- umeng-analytics -->
    <!-- umeng 推送 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- umeng 推送 -->
    <!-- pgyer -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 获取logcat日志 -->

    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- baidu -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- baidu -->

    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- umeng-analytics -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55ed1b0d67e58ea580002473" />

        <!--
            <meta-data
            android:name="com.cmbb.smartkids.tools.glide.MGlideModule"
            android:value="GlideModule"/>
        -->
        <!-- gmail -->
        <!--
            <meta-data
            android:name="UMENG_APPKEY"
            android:value="55d53102e0f55a778000720b"/>
        -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="e8f55588b6e850e3c67ceb2e3fcd5b7b" />
        <!-- gmail -->
        <!--
            <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="8c9ce6bdfae21520fc542ceb5ecbee9a"/>
        -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />
        <!-- umeng-analytics -->
        <!-- umeng-update -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- umeng-update -->
        <!-- 友盟推送manifest必备 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.cmbb.smartkids.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.cmbb.smartkids.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cmbb.smartkids.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <!-- 友盟推送manifest必备 -->


        <!-- *************************    分享相关的注册 START **************************** -->
        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3975f566000b797251569f8a9f419183" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104765835" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.MarketSelActivity"
            android:label="@string/title_activity_market_sel" >
        </activity>
        <activity
            android:name=".activities.CatlogsSelActivity"
            android:label="@string/title_activity_catlogs_sel" >
        </activity>
        <activity
            android:name=".activities.DetailCatlogsActivity"
            android:label="@string/title_activity_detail_catlogs" >
        </activity>
        <activity
            android:name=".activities.ProductsListActivity"
            android:label="@string/title_activity_products_list" >
        </activity>
        <activity
            android:name=".activities.WelActivity"
            android:label="@string/title_activity_wel" >
        </activity>
        <activity
            android:name=".activities.UserCenterActivity"
            android:label="@string/title_activity_user_center" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GiudeActivity"
            android:label="@string/title_activity_giude" >
        </activity>
        <activity
            android:name=".activities.HelpCheckActivity"
            android:label="@string/title_activity_help_check" >
        </activity>
        <activity
            android:name=".activities.MarketAdressActivity"
            android:label="@string/title_activity_market_adress" >
        </activity>
        <activity
            android:name=".activities.InformationCollectionActivity"
            android:label="@string/title_activity_information_collection" >
        </activity>
    </application>

</manifest>
